html {
  height: 100%;
}
body {
  padding-top: 78px;
  padding-bottom: 40px;
  background-color: #ffffff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin-bottom: 100px;
}
@media all and (min-width: 768px) {
  body {
    padding-top: 100px;
    margin-bottom: 100px;
  }
}
.signedout-signin {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
}
@media all and (min-width: 768px) {
  .signedout-signin {
    padding-top: 72px;
  }
}
.signedout-signin-resend {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.signedout-signin-resend .white-header {
  padding: 7px 0 6px 0;
}
.signedout-signin-resend .white-header img {
  padding-bottom: 12px;
  padding-top: 16px;
  padding-left: 20px;
}
@media all and (min-width: 992px) {
  .signedout-signin-resend .white-header img {
    margin-top: 0;
  }
}
@media all and (min-width: 768px) {
  .signedout-signin-resend .white-header {
    padding: 18px 0 20px 15px;
  }
}
p {
  color: #444444;
}
a {
  color: #3498db;
}
.navbar {
  min-height: 78px;
}
@media all and (min-width: 768px) {
  .navbar {
    height: 100px;
  }
}
.navbar,
.navbar-default {
  background-color: #373942;
  border: none;
  margin: 0;
  padding: 0;
}
.navbar-header {
  padding-top: 16px;
}
@media all and (min-width: 768px) {
  .navbar-header {
    padding-top: 5px;
  }
}
.navbar-default .navbar-nav > li > a {
  color: black;
}
@media all and (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    padding: 39px 26px 37px 26px;
    -webkit-transition: background-color 0.5s ease;
            transition: background-color 0.5s ease;
  }
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #3f9bd7;
    color: #fff;
  }
  .navbar-default .navbar-nav > li > a:hover i {
    color: white;
  }
}
.navbar-default .navbar-nav > li:last-child {
  padding-right: 60px;
}
.navbar-brand {
  padding-left: 10px;
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  .navbar-brand {
    padding-left: 25px;
    margin-top: 14px;
  }
}
h4.bank-name-error {
  background-color: #fbfbfb;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 12px;
  font-weight: 600;
  color: #666666;
}
h4.bank-name-error span {
  font-size: 11px;
}
@media all and (min-width: 768px) {
  h4.bank-name-error span {
    font-size: 13px;
    font-weight: 400;
  }
}
@media all and (min-width: 768px) {
  h4.bank-name-error {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 16px 10px 20px 26px;
  }
}
.navbar {
  padding: 0;
  background-color: white;
  border-bottom: 5px solid #888888;
}
@media all and (min-width: 768px) {
  .navbar {
    padding: 0;
  }
}
@media all and (min-width: 992px) {
  .navbar-nav > li > .dropdown-menu {
    margin-top: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px;
    border-radius: 0px;
    background-color: #eee;
    border: none;
  }
}
.navbar-nav > li > a {
  color: white;
}
@media all and (min-width: 768px) {
  .navbar-nav > li > a {
    font-size: 15px;
    font-weight: 300;
  }
}
.navbar-nav > li > a i {
  color: #888888;
  margin-right: 3px;
  -webkit-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
}
.dropdown-menu > li > a {
  color: #fff;
}
@media all and (min-width: 992px) {
  .dropdown-menu > li > a {
    display: block;
    padding: 10px 20px 10px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #fff;
    white-space: nowrap;
  }
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}
@media all and (min-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
@media all and (min-width: 768px) {
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
  }
}
/* input[type="checkbox"], input[type="radio"] {
	padding: 10px;
	box-sizing: border-box;
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #ececec;
	padding: 15px;
	float: left;
	margin-right: 20px;
} */
.basic-shadow {
  -webkit-box-shadow: 0px 1px 0px #efefef;
          box-shadow: 0px 1px 0px #efefef;
}
.tiny-caps-type {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}
.table-ac {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 0px #efefef;
          box-shadow: 0px 1px 0px #efefef;
}
.process-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #373942;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media all and (min-width: 768px) {
  .process-bar {
    max-height: 120px;
  }
}
.borrower-faq {
  margin-top: 30px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #34495e;
}
@media all and (min-width: 768px) {
  .borrower-faq {
    margin-top: 40px;
    margin-left: 0;
    padding-left: 20px;
  }
}
.borrower-faq li {
  margin-bottom: 15px;
}
@media all and (min-width: 768px) {
  .borrower-faq li {
    margin-bottom: 30px;
  }
}
.borrower-faq p {
  color: #444444;
  font-weight: normal;
}
.borrower-faq p strong {
  font-size: 1.1em;
}
@media all and (min-width: 768px) {
  .borrower-faq p {
    font-size: 1em;
  }
}
.contact-info-list {
  padding-top: 20px;
}
.btn-process {
  height: 100%;
  display: block;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #3f9bd7;
  font-weight: 600;
  font-size: 16px;
}
@media all and (min-width: 992px) {
  .btn-process {
    display: inline-block;
    float: right;
    padding: 24px 60px 24px 60px;
    margin: 0;
    font-size: 16px;
    background-color: #3f9bd7;
    -webkit-transition: background-color 0.5s ease;
            transition: background-color 0.5s ease;
    width: 25%;
    max-width: 300px;
    font-weight: 400;
  }
}
.btn-process:hover {
  background-color: #2781bc;
  color: #fff;
  text-decoration: none;
}
.bank-screenshot {
  border: none;
  background-color: #fff;
  max-width: 100%;
  border-radius: 0px;
  margin-top: 20px;
  padding-left: 0px;
  padding-bottom: 10px;
}
@media all and (min-width: 992px) {
  .bank-screenshot {
    padding: 0px;
    max-width: 100%;
    margin-top: -8px;
    background: #eee;
  }
}
.panel-default {
  border: none;
  background: transparent;
}
.panel-body-ac {
  background: transparent;
  padding: 0;
}
.panel {
  margin-top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}
.panel-default > .panel-heading {
  background: #fff;
  margin-left: 0;
  margin-top: 0px;
  color: #444;
  padding-left: 0px;
}
@media all and (min-width: 768px) {
  .panel-default > .panel-heading {
    margin-left: 0;
  }
}
.panel-heading {
  padding: 6px 0 12px 0;
  border: none;
  border: 0;
  border-radius: 0;
  margin-top: 20px;
}
@media all and (min-width: 768px) {
  .panel-heading {
    padding: 8px 0 12px 10px;
  }
}
.panel-heading-bank-signin {
  padding: 10px 12px;
}
.panel-ac {
  margin: 0;
  padding: 0;
}
.panel-default > .panel-heading-authorize {
  margin-bottom: 5px;
  margin-left: 0;
  margin-top: 18px;
}
@media all and (min-width: 768px) {
  .panel-default > .panel-heading-authorize {
    padding: 0;
    margin-top: 20px;
    padding-top: 20px;
  }
}
.panel-title {
  color: #34495e;
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 300;
  background-color: transparent;
}
@media all and (min-width: 768px) {
  .panel-title {
    margin-top: 8px;
  }
}
.panel-title-authorize {
  color: #34495e;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media all and (min-width: 768px) {
  .panel-title-authorize {
    color: #34495e;
    font-size: 30px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 44px;
  }
}
.radio label {
  margin-left: 8px;
}
h3.panel-title {
  margin: 0;
}
@media all and (min-width: 768px) {
  h3.panel-title {
    margin-top: 8px;
    margin-left: 0;
  }
}
h3.panel-title-authorize {
  margin: 0;
}
@media all and (min-width: 768px) {
  h3.panel-title-authorize {
    margin-top: 8px;
    margin-left: 0;
    margin-bottom: 40px;
  }
}
h3.panel-title.black strong {
  font-weight: 600;
  color: #34495e;
  font-size: 13px;
  margin-left: 0;
  padding-left: 0;
}
h3.panel-title.black strong em {
  color: #cc0000;
}
@media all and (min-width: 768px) {
  h3.panel-title.black strong {
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 45px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
h4.service {
  font-size: 19px;
}
@media all and (min-width: 768px) {
  h4.service {
    font-weight: #34495e;
    font-size: 24px;
  }
}
.service-data {
  margin-top: 20px;
}
@media all and (min-width: 768px) {
  .service-data {
    margin-top: 30px;
  }
}
.service-block {
  background-color: #efefef;
  padding: 12px 12px 12px 30px;
  margin: 0 0 20px 0;
}
@media all and (min-width: 768px) {
  .service-block {
    padding: 16px 16px 16px 40px;
    margin: 0;
  }
}
.service-block a {
  color: #34495e;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.service-block a:hover {
  color: #2781bc;
  text-decoration: none;
}
.unmatched {
  margin-bottom: 20px;
  margin-top: 20px;
}
small {
  font-size: 14px;
  color: #444444;
  padding-top: 20px;
}
small.inverse {
  color: #444444;
  font-size: 14px;
}
@media all and (min-width: 768px) {
  small.inverse {
    font-size: 14px;
    font-weight: 400;
  }
}
ul.top-10-banks {
  padding-top: 0;
  padding-bottom: 20px;
  list-style-position: inside;
  padding-left: 0;
}
ul.top-10-banks li {
  padding-top: 7px;
  padding-bottom: 8px;
  list-style: none;
  border-bottom: 1px solid #efefef;
  font-size: 13px;
}
ul.top-10-banks li:last-child {
  border-bottom: none;
}
@media all and (min-width: 768px) {
  ul.top-10-banks {
    padding-top: 0;
  }
}
.list-group-item-heading {
  font-size: 18px;
}
.bank-info {
  margin: 0 auto;
}
.bank-info .tiny-caps {
  display: none;
}
.fi-name {
  color: #444444;
  font-weight: 400;
  margin-top: 2px;
  line-height: 150%;
  margin-right: 20px;
  margin-bottom: 14px;
  font-size: 16px;
}
.panel-footer {
  background: transparent;
  border: none;
}
@media all and (min-width: 768px) {
  .panel-footer {
    margin-top: 10px;
    padding-left: 0;
    margin-left: 0;
  }
}
.panel-footer-button {
  padding-top: 10px;
}
.acnotification-acwarning {
  font-size: 15px;
  background-color: #ffffcc;
  color: #fff;
  margin: 0 0 10px 0;
  padding: 8px 8px 10px 8px;
}
.acnotification-acerror {
  font-size: 15px;
  background-color: #cc0000;
  color: #fff;
  margin: 0 0 10px 0;
  padding: 8px 8px 10px 8px;
}
.panel-signin {
  background-color: #f0f0f1;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media all and (min-width: 768px) {
  .panel-signin {
    margin-left: 25px;
    margin-right: 25px;
  }
}
.input-group-signin {
  margin-bottom: 20px;
}
.form-signin {
  max-width: 360px;
  padding: 0 0 2px 0px;
  margin: 0 auto 0 auto;
  background-color: #fff;
}
@media all and (min-width: 768px) {
  .form-signin {
    max-width: 470px;
    padding: 22px 8px 2px 8px;
    margin: 3% auto 0 auto;
    background-color: #fff;
  }
}
.panel-body-ac label {
  font-size: 13px;
  color: #34495e;
  font-weight: 400;
}
.panel-body-ac label.tiny-caps {
  color: #3f9bd7;
  font-weight: 400;
  font-size: 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
label.tiny-caps {
  padding-bottom: 10px;
}
label.challenge {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 6px;
}
@media all and (min-width: 768px) {
  label.challenge {
    font-size: 16px;
  }
}
.inactive-row-type {
  color: #999999;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
  font-size: 30px;
  margin-top: 0px;
  font-weight: 300;
}
h1 {
  font-size: 22px;
}
h3 {
  margin-bottom: 4px;
  font-size: 22px;
  font-weight: 300;
  margin-top: 24px;
  margin-left: 0px;
  color: #34495e;
}
@media all and (min-width: 768px) {
  h3 {
    font-size: 30px;
    margin-top: 40px;
  }
}
h4.tiny-caps-type {
  background-color: #fff;
  color: #3f9bd7;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-left: 0;
  font-weight: 600;
}
@media all and (min-width: 768px) {
  h4.tiny-caps-type {
    background-color: #fff;
    color: #3f9bd7;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 35px;
    font-weight: 600;
    margin-left: 0;
  }
}
.find-bank {
  padding-bottom: 12px;
}
.find-routing {
  padding-top: 30px;
}
@media all and (min-width: 768px) {
  .find-routing {
    padding-top: 0;
  }
}
h4.bank-name {
  font-size: 14px;
}
.lead {
  font-size: 16px;
}
.success-heading {
  color: #27ae60;
  margin: 0 0 10px 0;
  padding: 0;
}
.inverse {
  color: rgba(255, 255, 255, 0.8);
}
.btn-primary {
  color: #fff;
  background-color: #3f9bd7;
  border-color: #3f9bd7;
}
.ac-logo {
  margin: 4px 20px 0 10px;
}
.ac-logo-signedout {
  width: 230px;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #1c5588;
  border-color: #1c5588;
}
.panel-primary {
  border-color: #1c5588;
}
.black {
  color: #000;
}
.enrollment-success {
  font-size: 110%;
  padding-bottom: 20px;
  padding-top: 30px;
}
.xpadding-10 {
  padding-top: 10px;
  text-align: justify;
}
.notification {
  font-size: 16px;
  color: #555;
  background-color: #27ae60;
  color: #fff;
  padding: 10px 10px 12px 10px;
  margin: 14px 0 10px 0;
}
.enrollment-success {
  font-size: 120%;
  padding-bottom: 40px;
}
.enrollment-success p {
  color: #7f8c8d;
  margin: 0 0 0 0;
  padding: 0;
}
.enrollment-success .btn-sign-out {
  margin-top: 20px;
  color: white;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.enrollment-success .btn-sign-out i {
  margin-left: 4px;
}
.enrollment-success .btn-sign-out:hover {
  background-color: #2781bc;
}
.enrollment-success-green {
  color: #27ae60;
  margin: 0 0 0 0;
  padding: 0;
}
.share-cell {
  margin-right: 50px;
  width: 20%;
  max-width: 140px;
}
.terms-box {
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 4px;
  border: none;
}
@media all and (min-width: 768px) {
  .terms-box {
    padding-bottom: 22px;
  }
}
.terms-copy {
  font-size: 13px;
  line-height: 100%;
  font-weight: 400;
  padding-top: 0;
  margin-top: 0;
}
@media all and (min-width: 768px) {
  .terms-copy {
    font-size: 14px;
  }
}
.form-signin-ac {
  background-color: #efefef;
  padding: 10px 30px 30px 30px;
  margin: 20px auto 0 auto;
}
.tiny-caps {
  margin: 10px 0px 1px 0px;
  padding: 0;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  color: #3f9bd7;
  text-align: left;
}
@media all and (min-width: 992px) {
  .tiny-caps {
    font-weight: 400;
  }
}
.status-icon {
  margin: 0 0 3px 0;
  padding: 0;
}
@media all and (min-width: 768px) {
  .status-icon {
    float: left;
  }
}
.status-action {
  margin: 0;
  padding: 0;
  background: transparent;
}
.status-action i {
  margin-right: 4px;
}
.status-action .btn-sm {
  width: 100%;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 8px 10px;
}
@media all and (min-width: 768px) {
  .status-action .btn-sm {
    width: 100%;
    border-color: #7f8c8d;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 10px;
  }
}
.btn-sm {
  border-color: #eee;
  width: 100%;
  color: #777;
  background-color: #eee;
  border-radius: 0px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 10px;
}
@media all and (min-width: 768px) {
  .btn-sm {
    border: none;
    padding: 12px 12px;
    width: 30%;
  }
  .btn-sm:active {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
}
.btn-sm {
  border-color: #eee;
  width: 100%;
  color: #777;
  background-color: #eee;
  border-radius: 0px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 10px;
}
@media all and (min-width: 768px) {
  .btn-sm {
    border: none;
    padding: 12px 12px;
    width: 30%;
  }
  .btn-sm:active {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
}
.btn.btn-add-new-bank {
  border-color: #eee;
  width: 100%;
  color: #777;
  background-color: #fff;
  border-radius: 0px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 10px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  margin-top: 10px;
  margin-bottom: 14px;
}
.btn.btn-add-new-bank:hover {
  background-color: #fafafa;
  border-color: #fff;
  color: #333;
}
@media all and (min-width: 768px) {
  .btn.btn-add-new-bank {
    border: 1px solid #ccc;
    padding: 10px 10px;
    width: 88%;
    margin-top: 80px;
    margin-right: 20px;
    font-size: 11px;
  }
  .btn.btn-add-new-bank:active {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
}
.btn.btn-add-new-bank-dual {
  border-color: #eee;
  width: 100%;
  color: #777;
  background-color: #fff;
  border-radius: 0px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 10px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  margin-top: 10px;
  margin-bottom: 14px;
  display: none;
}
.btn.btn-add-new-bank-dual:hover {
  background-color: #fafafa;
  border-color: #fff;
  color: #333;
}
@media all and (min-width: 768px) {
  .btn.btn-add-new-bank-dual {
    border: 1px solid #ccc;
    padding: 10px 10px;
    width: 88%;
    margin-top: 80px;
    margin-right: 20px;
    font-size: 11px;
    display: block;
  }
  .btn.btn-add-new-bank-dual:active {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
}
.btn.btn-add-new-bank-bot {
  border-color: #eee;
  width: 100%;
  color: #777;
  background-color: #fff;
  border-radius: 0px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 12px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  margin-top: 10px;
  margin-bottom: 14px;
}
.btn.btn-add-new-bank-bot:hover {
  background-color: #fafafa;
  border-color: #fff;
  color: #333;
}
@media all and (min-width: 768px) {
  .btn.btn-add-new-bank-bot {
    border: 1px solid #ccc;
    padding: 12px 12px;
    width: 100%;
    display: block;
    font-size: 13px;
    width: 30%;
    margin-top: -10px;
  }
  .btn.btn-add-new-bank-bot:active {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
}
.btn.btn-add-new-bank-dual-bot {
  border-color: #eee;
  width: 100%;
  color: #777;
  background-color: #fff;
  border-radius: 0px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 12px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  margin-top: 10px;
  margin-bottom: 14px;
}
.btn.btn-add-new-bank-dual-bot:hover {
  background-color: #fafafa;
  border-color: #fff;
  color: #333;
}
@media all and (min-width: 768px) {
  .btn.btn-add-new-bank-dual-bot {
    border: 1px solid #ccc;
    padding: 12px 12px;
    width: 100%;
    display: block;
    font-size: 13px;
    width: 30%;
    margin-top: -10px;
    display: none;
  }
  .btn.btn-add-new-bank-dual-bot:active {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
}
.panel-footer-ac {
  background-color: transparent;
  border-bottom: none;
  padding: 20px 0 0 0;
  margin: 0 0 20px 0;
}
.navbar-toggle {
  margin-top: 8px;
  border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #1c5588;
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.tagline-logo {
  margin: 0;
  padding: 0;
}
.signin-grey {
  background-color: #f0f0f1;
}
.signin-box {
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}
.white-header {
  padding: 7px 0 6px 0;
  text-align: center;
}
.white-header img {
  padding-bottom: 12px;
  padding-top: 16px;
  padding-left: 20px;
}
@media all and (min-width: 992px) {
  .white-header img {
    margin-top: -60px;
  }
}
@media all and (min-width: 768px) {
  .white-header {
    padding: 18px 0 20px 15px;
  }
}
/*.btn {
	width:30%;
} */
.btn-lg {
  padding: 14px 26px 16px 26px;
}
.fa-lock {
  width: 14px;
}
.process-type {
  font-size: 12px;
  padding: 0;
  margin: 10px 0 3px 0;
  color: #7f8c8d;
  text-align: left;
}
@media all and (min-width: 768px) {
  .process-type {
    font-size: 15px;
    margin: 10px 0 10px 0;
  }
}
.process-type .icon-text-success {
  color: #27ae60;
}
.process-type a {
  font-weight: 500;
}
.process-type-banks {
  font-size: 12px;
  padding: 0;
  margin: 0 0 20px 0;
  color: #7f8c8d;
}
@media all and (min-width: 768px) {
  .process-type-banks {
    font-size: 14px;
  }
}
.service-footer {
  font-size: 12px;
  padding: 0;
  margin: 10px 0 3px 0;
  color: #7f8c8d;
  text-align: left;
}
@media all and (min-width: 768px) {
  .service-footer {
    font-size: 15px;
    margin: 10px 0 10px 0;
  }
}
.service-footer .icon-text-success {
  color: #27ae60;
}
.service-footer a {
  font-weight: 500;
}
@media all and (min-width: 768px) {
  .service-footer {
    margin-top: 40px;
  }
}
.panel-ac {
  border-radius: 0;
  border: none;
  border: 0;
  padding-top: 12px;
}
@media all and (min-width: 768px) {
  .panel-ac {
    padding-top: 8px;
  }
}
.btn-enrolled {
  color: #fff;
  background-color: #27ae60;
  border-color: #27ae60;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-enrolled:hover,
.btn-enrolled:focus,
.btn-enrolled:active,
.btn-enrolled.active,
.open .dropdown-toggle.btn-grey {
  color: #fff;
  background-color: #27ae60;
  border-color: #27ae60;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3f9bd7;
  border-color: #3f9bd7;
}
.btn-grey {
  color: #fff;
  background-color: #27ae60;
  border-color: #27ae60;
  display: inline-block;
  width: 50%;
  margin-top: 6px;
  padding: 10px 26px 12px 26px;
  -webkit-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
}
.btn-grey:hover {
  background-color: #2e7d00;
  border-color: #2e7d00;
}
.btn.disabled {
  -webkit-box-shadow: 0px 5px 0px #3f9bd7;
          box-shadow: 0px 5px 0px #3f9bd7;
}
.table-responsive {
  margin-bottom: 0;
}
.enrolled-cell {
  color: #27ae60;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  padding: 0 20px;
  background: transparent;
}
.enrolled-cell .status-icon {
  color: #27ae60;
}
.enrolled-cell .acerror {
  color: #cc0000;
}
.enrolled-cell .acwarning {
  color: #f39c12;
}
@media all and (min-width: 768px) {
  .enrolled-cell {
    text-align: left;
  }
}
.top-padding-10 {
  padding-top: 10px;
}
/* Roll back table chrome and panel chrome 



.panel-default>.panel-heading-authorize {
    background-color: #fff;
	padding-left:14px;
	color:#444;
}


*/
.table-ac thead > tr > th,
.table-ac tbody > tr > th,
.table-ac tfoot > tr > th,
.table-ac thead > tr > td,
.table-ac tbody > tr > td,
.table-ac tfoot > tr > td {
  padding: 15px 4px 15px 4px;
  line-height: 1.428571429;
  vertical-align: middle;
  border-top: 1px solid #efefef;
  color: #444444;
  font-size: 12px;
}
@media all and (min-width: 768px) {
  .table-ac thead > tr > th,
  .table-ac tbody > tr > th,
  .table-ac tfoot > tr > th,
  .table-ac thead > tr > td,
  .table-ac tbody > tr > td,
  .table-ac tfoot > tr > td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
  }
}
.table-ac thead > tr > th {
  padding-top: 2px;
}
@media all and (min-width: 768px) {
  .table-ac thead > tr > th {
    padding-top: 10px;
  }
}
table {
  border-top: 0;
}
.account-table td:first-child {
  font-weight: 600;
}
@media all and (min-width: 768px) {
  .account-table td:first-child {
    font-weight: 500;
    width: 185px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media all and (min-width: 768px) {
  .account-table td:last-child {
    text-align: right;
  }
}
@media all and (min-width: 768px) {
  .account-table th:last-child {
    text-align: right;
  }
}
.bank-table .account-cell,
.bank-table .share-cell {
  font-weight: 600;
}
@media all and (min-width: 768px) {
  .bank-table .account-cell,
  .bank-table .share-cell {
    font-weight: 500;
  }
}
.bank-table td:last-child {
  text-align: right;
  font-weight: 600;
}
@media all and (min-width: 768px) {
  .bank-table td:last-child {
    font-weight: 500;
    text-align: right;
  }
}
.bank-table th:last-child {
  text-align: right;
  font-weight: 600;
}
@media all and (min-width: 768px) {
  .bank-table th:last-child {
    font-weight: 500;
    text-align: right;
  }
}
@media all and (min-width: 768px) {
  .bank-table-share {
    margin-top: 20px;
  }
}
.transaction-summary tbody > tr > td,
.transaction-summary tfoot > tr > td {
  border-top: 1px dashed #e5e5e5 !important;
}
@media all and (min-width: 768px) {
  .transaction-summary tbody > tr > td,
  .transaction-summary tfoot > tr > td {
    padding-left: 14px;
  }
}
.transaction-summary tfoot > tr > td {
  padding-bottom: 10px;
  padding-top: 10px;
}
.transaction-summary tfoot > tr > td a {
  font-size: 12px;
}
.transaction-summary {
  width: 100%;
  border: 0;
  border: none;
  margin: 0;
  padding: 0;
}
.transaction-summary thead > th:last-child {
  text-align: left;
  color: black;
}
.transaction-summary td {
  font-size: 14px;
  text-align: left;
  border-top: 1px dotted #e5e5e5;
}
.transaction-summary tbody > tr > td:last-child {
  text-align: right;
}
.transaction-summary tbody > tr > td:first-child {
  font-weight: 500;
  color: #777;
}
@media all and (min-width: 768px) {
  .transaction-summary tbody > tr > td:first-child {
    padding-left: 12px;
  }
}
progress {
  width: 60px;
}
/* Loading State Page Styles */
.loading-anim {
  margin-top: 12%;
  margin-bottom: 8%;
}
.loading-anim i {
  color: #009adc;
  font-size: 4em;
  margin-bottom: 20px;
}
#bowlG {
  position: relative;
  width: 128px;
  height: 128px;
  margin: 20% auto 4% auto;
}
#bowl_ringG {
  position: absolute;
  width: 128px;
  height: 128px;
  border: 11px solid #f1f1f2;
  -o-border-radius: 128px;
  border-radius: 128px;
}
.ball_holderG {
  position: absolute;
  width: 34px;
  height: 104px;
  left: 40px;
  top: 0px;
  -moz-animation-name: ball_moveG;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: ball_moveG;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-name: ball_moveG;
  -ms-animation-duration: 1.5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: ball_moveG;
  -o-animation-duration: 1.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -webkit-animation-name: ball_moveG;
          animation-name: ball_moveG;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.ballG {
  position: absolute;
  left: 0px;
  top: -30px;
  width: 51px;
  height: 51px;
  background: #3f9bd7;
  -o-border-radius: 43px;
  border-radius: 43px;
}
@-webkit-keyframes ball_moveG {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-ms-keyframes ball_moveG {
  0% {
    -ms-transform: rotate(360deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes ball_moveG {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.loading-header {
  padding-top: 10px;
  margin-top: 0;
}
.loading-message {
  color: #9a9da5;
}
/* END Loading Page Styles */
.gray-heading th:first-child {
  color: #3f9bd7;
  padding-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}
.gray-heading th:nth-child(2) {
  color: #3f9bd7;
  padding-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}
.gray-heading th:last-child {
  font-weight: 600;
  color: #3f9bd7;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}
.table th:first-child {
  color: #3f9bd7;
  padding-left: 0;
  padding-right: 80px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}
@media all and (min-width: 768px) {
  .table th:first-child {
    padding-left: 10px;
    font-weight: 600;
  }
}
.table th:nth-child(2) {
  color: #3f9bd7;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}
.table th:last-child {
  color: #3f9bd7;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}
.xpadding10 {
  padding-top: 20px;
  text-align: justify;
}
th.xpadding-left-10 {
  padding-left: 10px;
}
.resend {
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 2px;
  margin-left: 3px;
  font-weight: 400;
}
@media all and (min-width: 768px) {
  .resend {
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
  }
}
.switch-light {
  height: 31px;
}
.switch-candy {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}
.switch-candy a {
  background-color: #efbe0c;
  border-radius: 0;
}
.alert {
  font-size: 12px;
}
@media all and (min-width: 768px) {
  .alert {
    font-size: 13px;
  }
}
.ac-alert-success {
  color: #fff;
  background-color: #2dc36c;
  border-radius: 0;
  border: none;
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
}
.ac-alert-success i {
  color: #27ae60;
}
@media all and (min-width: 992px) {
  .ac-alert-success {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.ac-alert-warning {
  color: #5e5013;
  background-color: #ffeda7;
  border-radius: 0;
  border: none;
  text-align: center;
  margin-top: 0;
  font-size: 14px;
  display: none;
}
.ac-alert-warning i {
  color: #5e5013;
  padding-right: 10px;
}
@media all and (min-width: 992px) {
  .ac-alert-warning {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 22px;
    margin-top: 0;
  }
}
.ac-alert-info {
  color: #34495e;
  background-color: #fafafa;
  border-radius: 0;
  border: none;
  text-align: center;
  margin-top: 0;
  font-size: 14px;
}
.ac-alert-info i {
  color: #34495e;
  padding-right: 10px;
}
@media all and (min-width: 992px) {
  .ac-alert-info {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 22px;
    margin-top: 0;
  }
}
.ac-alert-error {
  color: white;
  background-color: #cc0000;
  border-radius: 0;
  border: none;
  text-align: center;
  margin-top: 0;
  font-size: 14px;
}
.ac-alert-error i {
  color: white;
  padding-right: 10px;
}
@media all and (min-width: 992px) {
  .ac-alert-error {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 22px;
    padding-right: 4em;
    padding-left: 4em;
    margin-top: 0;
  }
}
.info-block {
  position: relative;
  background-color: #fbfbfb;
  display: none;
  padding: 14px;
}
.info-block p {
  color: #777;
  font-size: 12px;
}
@media all and (min-width: 768px) {
  .info-block p {
    font-size: 14px;
  }
}
.info-block .question {
  color: #666666;
}
@media all and (min-width: 768px) {
  .info-block .question {
    margin: 10px 0 4px 0;
    padding: 0;
    font-size: 18px;
  }
}
@media all and (min-width: 768px) {
  .info-block {
    margin: 30px 0 0 0;
    padding: 12px 24px 14px 24px;
  }
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.3;
  filter: alpha(opacity=50);
}
select.form-control {
  border: 1px solid #ccc;
}
@media all and (min-width: 768px) {
  select.input-sm {
    height: 40px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
  }
}
.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0px;
}
label.switch-light.switch-candy {
  margin-bottom: 8px;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .sec-messaging {
    padding: 30px 0 0 0;
  }
}
.check-image {
  max-width: 100%;
}
.btn-hybrid {
  display: block;
  width: 100%;
  padding-top: 21px;
  color: #fff;
  border-radius: 0;
  height: 65px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  -webkit-box-shadow: 0px 5px 0px #3187C0;
          box-shadow: 0px 5px 0px #3187C0;
  background-color: #3f9bd7;
  border-color: #3f9bd7;
  -webkit-transition: background-color 0.8s ease;
          transition: background-color 0.8s ease;
}
.btn-hybrid:hover {
  background-color: #3187C0;
  border-color: #3187C0;
  color: #fff;
}
.btn-hybrid:focus {
  background-color: #3187C0;
}
.btn-hybrid:active {
  background-color: #3187C0;
}
@media (min-width: 992px) {
  .btn-hybrid {
    padding: 22px 56px 12px 56px;
    font-size: 18px;
    font-weight: 400;
    height: 65px;
    margin-top: 6px;
    float: left;
    /* width:30%; */
  }
}
.btn-secondary {
  background-color: #efefef;
  border-color: #efefef;
  -webkit-transition: all 0.8s ease;
          transition: all 0.8s ease;
  -webkit-box-shadow: 0px 5px 0px #ccc;
          box-shadow: 0px 5px 0px #ccc;
  color: #222;
}
.btn-secondary:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  color: #222;
}
.btn-find-bank {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  color: #fff;
  border-radius: 0;
  font-weight: 400;
  -webkit-box-shadow: 0px 5px 0px #3187C0;
          box-shadow: 0px 5px 0px #3187C0;
  background-color: #3f9bd7;
  border-color: #3f9bd7;
  -webkit-transition: background-color 0.8s ease;
          transition: background-color 0.8s ease;
}
.btn-find-bank:hover {
  background-color: #2781bc;
  border-color: #2781bc;
  color: #fff;
}
@media (min-width: 992px) {
  .btn-find-bank {
    width: 50%;
    display: inline-block;
    margin-top: 6px;
    padding: 15px 56px 14px 56px;
    font-size: 16px;
  }
}
.btn-authorize {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #3f9bd7;
  border-color: #3f9bd7;
  -webkit-transition: background-color 0.8s ease;
          transition: background-color 0.8s ease;
  height: 65px;
  border-radius: 0px;
  padding-top: 22px;
  -webkit-box-shadow: 0px 5px 0px #3187C0;
          box-shadow: 0px 5px 0px #3187C0;
}
.btn-authorize:hover {
  background-color: #3187C0;
  border-color: #3187C0;
  color: #fff;
}
.panel-body-signin {
  padding: 0;
}
footer {
  text-align: center;
  color: #999;
  margin-top: 1.5em;
}
footer h5 {
  font-weight: 600;
  color: #999;
  margin: 0;
  padding: 0 0 3px 0;
  font-size: 13px;
}
footer p {
  line-height: 100%;
  color: #999;
}
footer p img {
  margin: 14px 0 4px 0;
  padding: 0;
}
footer p small {
  font-size: 11px;
  color: #999;
}
@media all and (min-width: 768px) {
  footer .customer-service {
    text-align: right;
  }
}
@media all and (min-width: 768px) {
  footer .faq {
    text-align: left;
  }
}
footer .service-links {
  font-size: 11px;
  line-height: 120%;
}
@media all and (min-width: 768px) {
  footer .service-links {
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
footer .copyright {
  font-weight: 600;
  font-size: 11px;
  color: #999;
}
@media all and (min-width: 768px) {
  footer {
    margin-top: 3em;
  }
}
@media (min-width: 768px) {
  .panel-footer-ac {
    padding: 18px 0 12px 0px;
    background: transparent;
    margin: 20px 0 0 0;
  }
}
@media (max-width: 768px) {
  .ac-alert-success {
    margin: 0 0 8px 0;
  }
  .action-button {
    visibility: hidden;
    display: none;
  }
  .share-cell {
    margin-right: 50px;
    width: 40%;
    max-width: 140px;
  }
  .check-image {
    max-width: 100%;
  }
  .bank-image {
    max-width: 100%;
  }
  .tagline-logo {
    margin: 0;
    padding: 0;
  }
  .panel-body-signin {
    padding: 4px;
  }
  .form-control {
    border-radius: none;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .notification {
    font-size: 15px;
    background-color: #27ae60;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 8px 8px 10px 8px;
  }
  .notification-warning {
    font-size: 15px;
    background-color: #ffffcc;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 8px 8px 10px 8px;
  }
  .warning-icon {
    color: #ffffcc;
  }
  .table-responsive {
    font-size: 12px;
  }
  .enrolled-type {
    display: none;
  }
  .input-group-signin {
    margin-bottom: 14px;
  }
}
.form-control {
  height: 65px;
  color: #333;
  border: 1px solid #ccc;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 400;
  font-size: 18px;
  padding: 6px 20px;
  width: 100%;
  margin-left: 0px;
}
.form-control[disabled] {
  background-color: #fafafa;
}
.form-signin .form-control {
  padding-left: 30px;
  height: 50px;
  border-color: #ddd;
  margin-left: 0px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 18px;
  color: #333;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
}
@media all and (min-width: 768px) {
  .form-signin .form-control {
    height: 65px;
  }
}
.form-group label.tiny-caps {
  display: none;
}
.input-group-signin {
  margin-bottom: 12px;
}
.form-signin .form-control input {
  font-weight: 700;
}
.panel-signin {
  background-color: transparent;
}
.input-group-addon {
  color: #fff;
  border: none;
  border-right: none;
  background: -webkit-linear-gradient(#d0d0d0, #f4f4f4);
  background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#f4f4f4));
  background: linear-gradient(#d0d0d0, #f4f4f4);
}
.input-group-addon .fa {
  text-shadow: 1px 1px #999;
  font-size: 1.2em;
}
@media all and (min-width: 768px) {
  .bank-cell {
    min-width: 400px;
  }
}
@media (min-width: 768px) {
  html {
    height: 100%;
  }
  .form-signin {
    padding-top: 0;
  }
  a:hover {
    color: #34495e;
    text-decoration: none;
  }
  .btn-primary {
    background-color: #3f9bd7;
    border: 1px solid #3f9bd7;
  }
  .form-control:focus {
    border-color: #1c5588;
  }
  .lg-checkbox {
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .lg-checkbox input {
    width: 2em;
    height: 2em;
  }
}
.account-cell {
  padding: 10px 10px 0 10px;
  width: 60%;
}
.account-cell a {
  font-size: 12px;
}
@media all and (min-width: 768px) {
  .account-cell a {
    font-size: 16px;
    font-weight: 500;
  }
}
@media all and (min-width: 992px) {
  .account-cell {
    padding-left: 10px;
    color: #34495e;
  }
}
th.account-cell {
  padding-top: 2px;
}
td.share-cell {
  padding-right: 50px;
  width: 30%;
}
.input-group-btn .btn-primary {
  height: 65px;
  width: 60px;
  padding-top: 22px;
}
.list-group {
  padding-top: 12px;
}
.navbar-nolinks {
  padding-bottom: 0;
}
@media all and (min-width: 768px) {
  .navbar-nolinks {
    padding-bottom: 34px;
  }
}
.back-btn {
  margin-top: 20px;
}
.process-container {
  padding-bottom: 100px;
}
.form-control {
  border-radius: 0;
  margin-bottom: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.checkbox {
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 15px;
  margin-right: 20px;
  float: left;
}
.checkbox:active,
.checkbox:checked:active {
  background-color: #ffffff;
}
.checkbox:checked {
  background-color: #fff;
  border: 1px solid #eee;
  color: #99a1a7;
}
.container {
  max-width: 950px;
}
.btn:active {
  top: 6px;
  -webkit-box-shadow: 0px 5px 0px #3187C0;
          box-shadow: 0px 5px 0px #3187C0;
}
.back-btn-container {
  margin-top: 20px;
}
@media all and (min-width: 768px) {
  .back-btn-container {
    margin-top: 30px;
  }
}
.back-btn-container .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.spinner {
  margin: 100px auto 36px;
  width: 170px;
  text-align: center;
}
.spinner > div {
  width: 28px;
  height: 28px;
  background-color: #009adc;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
table .collapse.in {
  display: table-row;
}
